h1 {
    font-family: "Andale Mono", monospace;
    font-size: 20px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
h2 {
    font-family: "Andale Mono", monospace;
    font-size: 16px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}
p {
    font-family: "Roboto";
    color: grey;
    max-width: 80%;
    margin-left: 10%;
}
strong {
    font-weight: bold;
}
li:nth-child(odd) {
    color: lightsteelblue;
}
li:nth-child(even) {
    color: lightskyblue;
}

ul {
    margin-left: 50%;
    transform: translate(-50%);
}

.vyhody {
    color: lightgreen;
}

.nevyhody {
    color: lightcoral;
}

#carouselExampleIndicators
{
    width: 50%;
    margin-left: 25%;

}

table {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    border: #e3e4e6 1px solid;
    table-layout: fixed;
}

th {
    background-color: #e3e4e6
}

table h2 {
    padding-top: unset;
    padding-bottom: unset
}

td {
    border-right: #e3e4e6 1px solid;
}