// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$siva: #e3e4e6;
$fontNadpisov: "Andale Mono", monospace;

body {
    margin-bottom: 50px;
}

h1 {
    font-family: $fontNadpisov;
    font-size: 20px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
h2 {
    font-family: $fontNadpisov;
    font-size: 16px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}
p {
    font-family: "Roboto";
    color: grey;
    line-height: 1.6;
}
strong {
    font-weight: bold;
}
.vyhody {
    color: lightgreen;
}

.nevyhody {
    color: lightcoral;
}

#carouselExampleIndicators
{
    margin-left: 25%;
    width: 50%;
}

table {
    margin-left: 25%;
    margin-top: 50px;
    width: 50%;
    text-align: center;
    border: $siva 1px solid;
    table-layout: fixed;
}

th {
    background-color: $siva;
}

td {
    border-right: $siva 1px solid;
    padding-top: 5px;
}

.content {
    margin-left: 10%;
    margin-right: 10%;

}

.card {
    margin-top: 20px;
}

.form-control {
    margin-bottom: 20px;
}

.footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin-top: -60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

#Hodiny {
    position: absolute;
    bottom: 50px;
    right: 20px;
    font-size: 3em;
    letter-spacing: 7px;
}

#obrazok {
    border-radius: 8px;
    display: block;
    width: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    width: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

}
