h1 {
    font-family: "Andale Mono", monospace;
    font-size: 20px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
h2 {
    font-family: "Andale Mono", monospace;
    font-size: 16px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}
p {
    font-family: "Roboto";
    color: grey;
    line-height: 1.6;
}
strong {
    font-weight: bold;
}
.vyhody {
    color: lightgreen;
}

.nevyhody {
    color: lightcoral;
}

#carouselExampleIndicators
{
    margin-left: 25%;
    width: 50%;
}

table {
    margin-left: 25%;
    margin-top: 50px;
    width: 50%;
    text-align: center;
    border: #e3e4e6 1px solid;
    table-layout: fixed;
}

th {
    background-color: #e3e4e6;
}

td {
    border-right: #e3e4e6 1px solid;
    padding-top: 5px;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
}

.card {
    margin-top: 20px;
}

.form-control {
    margin-bottom: 20px;
}